@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

html {
  font-size: 62.5%;
  body {
    width: 100vw;
    height: 100vh;
    font-size: 1.2em;
  }

  p {
    letter-spacing: 0.05em;
    line-height: 1.7;
  }
}
