$primary-color: #f4810a;
$secondary-color: #fee7d5;

$primary-bg-color: #f4f4f6;
$secondary-bg-color: #ffd370;

$primary-font-color: #141414;
$secondary-font-color: #4a4a4a;

@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tablet {
  @media only screen and (min-width: 780px) {
    @content;
  }
}

@mixin button_base {
  display: flex;
  justify-content: space-between;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

@mixin hover_action {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
}
